@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }

        &__skills {
            grid-template-columns: repeat(2, 250px);
            column-gap: 20px;

            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px
            }
        }
    }

    .skills {
        &__wrapper {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            padding: 60px 0 0 0;
        }

        &__item {
            padding: 20px 15px 15px 15px;
        }
    }

    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-evenly;
            row-gap: 35px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 340px 585px;
            column-gap: 15px
        }
    }
}

// Desktop hover effects
@media (hover: hover) {
    .menu__link:hover:before {
        background-color: #fff;
    }
    .menu__social-link:hover {
        svg, svg path {
            fill: #fff;
        }
    }
    .portfolio__item:hover > img {
        filter: brightness(40%);
    }
    .contacts__link:hover {
        svg, svg path {
            fill: $main-color;
        }
    }
}

// Touch devices hover change
@media (hover: none) {
    .portfolio__item > img {
        filter: brightness(60%);
    }
    .portfolio__button {
        opacity: 1;
    }

}

@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }

    .title {
        font-size: 30px;

        &_fz14 {
            font-size: 14px;
        }

        &_fz16 {
            font-size: 16px;
        }

        &_fz48 {
            font-size: 48px;
        }
    }

    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 320px 360px;
        }

        &__skills {
            grid-template-columns: 360px;
            grid-template-rows: minmax(80px, 100px);
            grid-auto-rows: minmax(80px, 100px);

            &-item {
                grid-template-columns: 40px 300px;
                column-gap: 20px;
            }
        }
    }

    .experience {
        padding-top: 80px;
        &__wrapper {
            padding: 60px 0 0;
            column-gap: 45px;
        }

        &__column {
            &-title {
                font-size: 20px;
            }
        }
    }

    .skills {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(2, 270px);
            grid-template-rows: repeat(2, 270px);
            justify-content: center;
            gap: 40px;
        }

        &__item {
            padding: 30px 20px 20px 20px;
        }
    }

    .ratings {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(2, 300px);
        }

        &__item {
            grid-template-columns: 260px 35px;

            &-bar {
                width: 300px;
            }
        }
    }
    .portfolio {
        padding-top: 80px;
    }
    .price {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 330px);
        }
    }
    .contacts {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 585px;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
        &__policy {
            input[type=checkbox] {
                &:checked:after {
                    left: 0.2px;
                }
            }
        }
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .promo {
        padding-top: 110px;
    }
    .menu {
        &__block {
            width: 320px;
            padding-top: 40px;
        }
        &__link {
            font-size: 22px;
            line-height: 28px;
        }
        &__social {
            bottom: 30px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {
        font-size: 24px;

        &_fz14 {
            font-size: 14px;
        }

        &_fz16 {
            font-size: 16px;
        }

        &_fz48 {
            font-size: 26px;
        }
    }

    .promo {
        background-position: 60%;

        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .about {
        padding-top: 40px;

        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }

        &__photo {
            grid-row: unset;

            img {
                object-position: 50% 20%;
            }
        }

        &__skills {
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: minmax(115px, auto);

            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    .experience {
        padding-top: 40px;

        &__wrapper {
            padding-top: 40px;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }

    .skills {
        padding-top: 40px;

        &__wrapper {
            padding-top: 40px;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
    }

    .ratings {
        padding-top: 40px;
        &__wrapper {
            padding-top: 0;
            grid-template-columns: repeat(2, 250px);
            column-gap: 35px;
        }

        &__item {
            grid-template-columns: 215px 35px;

            &-bar {
                width: 250px;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            padding-top: 40px;
            row-gap: 20px;
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: repeat(auto-fit, 360px);
            grid-template-rows: minmax(62px, auto);
            grid-auto-rows: minmax(62px, auto);
            row-gap: 20px;
        }
    }
    .contacts {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 540px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2,260px);
        }
        &__send {
            column-gap: 20px;
        }
        &__policy {
            label.error {
                top: -15px;
            }
            input[type=checkbox] {
                padding: 7px;
                &:checked {
                    padding: 3px;
                    width: 14px!important;
                    height: 14px!important;
                    line-height: 8px;
                    &:after {
                        left: -0.75px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .promo {
        padding-top: 120px;
    }
    .menu {
        &__block {
            width: 300px;
        }
        &__list {
            padding-left: 45px;
        }
        &__link {
            font-size: 20px;
            line-height: 28px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .hamburger {
        right: 20px;
    }

    .title {
        &__section-subtitle {
            line-height: 36px;
        }
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }

        &__link {
            font-size: 22px;
        }
    }

    .promo {
        &__btns {
            margin-top: 30px;
        }
    }

    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__photo {
            img {
                object-position: 50% 0%;
            }
        }
        &__skills {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, minmax(80px, auto));

            &-item {
                justify-content: center;
                grid-template-columns: 40px auto;
            }
        }
    }
    .experience {
        &__wrapper {
            padding-top: 20px;
        }
    }
    .skills {
        &__wrapper {
            padding-top: 20px;
            grid-template-columns: 270px;
            grid-template-rows: 270px;
            grid-auto-rows: 270px;
        }
    }

    .ratings {
        &__wrapper {
            grid-template-columns: 300px;
            column-gap: 0;
            row-gap: 40px;
        }
        &__item {
            &-bar {
                width: 300px;
            }
        }
    }
    .portfolio {
        &__wrapper {
            padding-top: 20px;
        }
    }
    .price {
        &__wrapper {
            padding-top: 20px;
            grid-template-columns: repeat(auto-fit, 300px);
        }
        &__item {
            grid-template-columns: minmax(130px, auto);
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__wrapper {
            grid-template-columns: 300px;
        }
        &__form {
            grid-template: minmax(45px, auto) minmax(45px, auto) minmax(190px, auto) 100px / 300px;
            row-gap: 40px;
        }
        &__input {
            grid-column: 1 / 1;
        }
        &__textarea {
            grid-column: 1 / 1;
        }
        &__send {
            grid-template-columns: 230px;
            justify-content: center;
            row-gap: minmax(20px, 40px);
        }
        &__policy {
            grid-row: 1 / 2;
            width: 200px;
            margin: 0 auto;
            label.error {
                top: -20px;
            }
        }
    }
    .page-up {
        right: 20px;
        bottom: 20px;
    }
    .policy {
        padding-top: 30px;
        h1 {
            margin-bottom: 0;
        }
        p {
            font-size: 12px;
        }
        &__divider {
            margin: 15px 0 15px 0;
        }
        .title_fz24 {
            font-size: 20px;
            line-height: 20px;
        }
        .title_fz20 {
            font-size: 18px;
            line-height: 18px;
        }
    }
}

@media (max-width: 576px) and (orientation: landscape) {
    .promo {
        padding-top: 80px;
    }
    .menu {
        &__block {
            padding-top: 30px;
        }
        &__link {
            font-size: 18px;
            line-height: 24px;
        }
        &__close {
            svg {
                width: 25px;
                height: 25px;
            }
        }
        &__social {
            bottom: 20px;
        }
    }
}