.ratings {
    padding-top: 100px;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 350px);
        grid-auto-columns: 350px;
        grid-template-rows: repeat(2, minmax(70px, auto));
        grid-auto-rows: minmax(70px, auto);
        justify-content: space-around;
        row-gap: 35px;
    }

    &__item {
        display: grid;
        grid-template-columns: 275px 35px;
        grid-template-rows: minmax(21px, auto) 14px;
        justify-content: space-between;
        align-content: space-between;

        &-title {
            position: relative;
            padding-left: 13px;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            @include before_circle;

            &:before {
                top: -36%;
            }
        }

        &-percentage {
            font-size: 14px;
            line-height: 21px;
            justify-self: end;
        }

        &-bar {
            grid-column: 1/3;
            width: 350px;
            height: 14px;
            border-radius: 4px;
            background-color: #E8E4DE;
        }
        &-progress {
            display: block;
            width: 0;
            height: 100%;
            border-radius: 4px;
            background-color: $main-color;
            transition: width 2s ease-in-out;
            &_animate-100 {
                width: 100%;
            }
            &_animate-90 {
                width: 90%;
            }
            &_animate-75 {
                width: 75%;
            }
        }
    }
}