.skills {
    padding-top: 120px;

    &__wrapper {
        padding: 60px 10px 0 10px;
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: minmax(270px, auto);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }

    &__item {
        padding: 30px 30px 25px 30px;
        border: 1px solid #000;

        &-photo {
            display: flex;
            align-items: center;
            min-height: 65px;
        }

        &-title {
            margin-top: 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
        }

        &-descr {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}